@using Gerador_de_testesWebApp.Models
@model EditarTesteViewModel

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Editar Teste";
}

<hr />
<div class="row justify-content-center my-5">
    <div class="col-md-8">
        <div class="card rounded-4 border-0">
            <div class="card-body p-md-5">
                <form asp-action="Editar" method="post">
                    <input type="hidden" asp-for="Id" />
                    <h3>Formulário de Edição</h3>
                    <div>
                        <p class="mt-4">Altere os campos abaixo para editar o Teste.</p>
                    </div>
                    <div class="form-group d-grid mt-3 gap-2">
                        <label asp-for="Titulo" class="control-label fs-5">Título:</label>
                        <input asp-for="Titulo" class="form-control" />
                        <span asp-validation-for="Titulo" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="DisciplinaId" class="control-label fs-5">Disciplina:</label>
                        <select asp-for="DisciplinaId" asp-items="Model.Disciplinas" class="form-select">
                            <option value="">Selecione uma disciplina</option>
                        </select>
                        <span asp-validation-for="DisciplinaId" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="MateriaId" class="control-label fs-5">Matéria:</label>
                        <select asp-for="MateriaId" asp-items="Model.Materias" class="form-select">
                            <option value="">Selecione uma matéria</option>
                        </select>
                        <span asp-validation-for="MateriaId" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="Serie" class="control-label fs-5">Série:</label>
                        <select asp-for="Serie" class="form-select">
                            <option value="">Selecione a série</option>
                            <option value="1">1ª Série</option>
                            <option value="2">2ª Série</option>
                        </select>
                        <span asp-validation-for="Serie" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="QteQuestoes" class="control-label fs-5">Quantidade de Questões:</label>
                        <input asp-for="QteQuestoes" class="form-control" type="number" min="1" />
                        <span asp-validation-for="QteQuestoes" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group d-grid gap-2 mt-3">
                        <label class="control-label fs-5">Questões Selecionadas:</label>
                        <ul class="list-group">
                            @foreach (var questao in Model.QuestoesSelecionadas)
                            {
                                <li class="list-group-item">@questao.Enunciado</li>
                            }
                        </ul>
                    </div>
                    
                    <div class="form-group d-flex align-items-center justify-content-end mt-5 gap-3">
                        <button class="btn btn-primary rounded-3 px-5">
                            <a asp-controller="Teste" asp-action="Index" class="btn btn-link">Cancelar Edição
                            </a></button>
                        
                        <button type="submit" class="btn btn-primary rounded-3 px-5">Salvar Alterações</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}