@model Gerador_de_testes.ModuloDeTestes.Teste

<h2>@Model.Titulo</h2>
@for (int i = 0; i < Model.QuestoesSelecionadas.Count; i++)
{
    var questao = Model.QuestoesSelecionadas[i];
    <div style="margin-bottom:20px;">
        <strong>@(i+1). @questao.Enunciado</strong>
        <ol type="a">
            @foreach (var alternativa in questao.Alternativas.Take(4))
            {
                <li>@alternativa.Resposta</li>
            }
        </ol>
    </div>
}