@{
    Layout = "_Layout";
    ViewBag.Titulo = "Página Inicial";
}

<hr />
<div class="d-flex flex-wrap gap-2 gap-lg-5">
    <div class="col order-1 order-lg-0 py-3 py-lg-5">
        <h2 class="text-primary fs-1 fw-bold">Crie e organize avaliações com facilidade!</h2>

        <p class="fs-4 mt-3">
            O Gerador de Testes é a ferramenta ideal para professores e instituições que desejam agilidade e praticidade na criação de avaliações. Com recursos completos, ele permite gerenciar disciplinas, matérias, questões, alternativas e montar testes com gabarito de forma rápida e organizada.
        </p>

        <p class="fs-4 mt-3">
            Seja para uso em sala de aula ou avaliações online, o Gerador de Testes oferece tudo o que você precisa para otimizar sua rotina educacional.
        </p>

        <p class="fs-4 mt-4 text-secondary-emphasis">Clique em uma das opções abaixo para prosseguir:</p>

        <div class="d-flex flex-wrap gap-2">
            <div class="col col-lg-3">
                <a href="/disciplinas" class="btn btn-outline-primary fw-semibold rounded-3 w-100">Disciplinas</a>
            </div>
            <div class="col col-lg-3">
                <a href="/materias" class="btn btn-outline-primary fw-semibold rounded-3 w-100">Materias</a>
            </div>
            <div class="col col-lg-3">
                <a asp-controller="Teste" asp-action="Index" class="btn btn-outline-primary fw-semibold rounded-3 w-100">Testes</a>
            </div>
            
        </div>
    </div>
    <div class="col-lg-4 order-0 order-lg-1 mx-auto">
        <img src="" alt="Imagem" class="img-fluid" style="max-width: 300px;" />
    </div>
</div>