@{
    var rotaDisciplinaAtiva = ViewContext.HttpContext.Request.Path.StartsWithSegments("/disciplinas") ? "nav-link active btn btn-primary px-3 text-white" : "nav-link text-primary fw-semibold";
    var rotaMateriaAtiva = ViewContext.HttpContext.Request.Path.StartsWithSegments("/materias") ? "nav-link active btn btn-primary px-3 text-white" : "nav-link text-primary fw-semibold";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand fs-4 fw-bold" href="/">e-Agenda</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto gap-2">
                <li class="nav-item">
                    <a class="@rotaDisciplinaAtiva" href="/disciplinas">Disciplinas</a>
                </li>
                <li class="nav-item">
                    <a class="@rotaDisciplinaAtiva" href="/materias">Materias</a>
                </li>
            </ul>
        </div>
    </div>
</nav>