﻿@using static Gerador_de_testes.WebApp.Models.FormularioQuestaoViewModel
@model FormularioQuestaoViewModel

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Cadastro de Questão";
}
<style>
    .card {
        padding: 10px;
        margin: 10px 0;
        border: 2px solid #ccc;
        border-radius: 8px;
        background-color: #f2f2f2;
        display: flex;
        align-items: center;
        gap: 10px;
    }

        .card.correta {
            background-color: #d4edda;
            border-color: #28a745;
        }

        .card.errada {
            background-color: #f8d7da;
            border-color: #dc3545;
        }
</style>
<hr />
<div class="row justify-content-center my-5">
    <div class="col-md-8">
        <div class="card rounded-4 border-0">
            <div class="card-body p-md-5">
                <form asp-action="Cadastrar" method="post">
                    <h3>Formulário de Cadastro</h3>
                    <div>
                        <p class="mt-4">Preencha o campo abaixo para cadastrar uma nova questão.</p>
                    </div>
                    <div class="form-group d-grid mt-3 gap-2">
                        <label asp-for="Enunciado" class="control-label fs-5">Enunciado:</label>
                        <input asp-for="Enunciado" class="form-control" value="@Model.Enunciado" />
                        <span asp-validation-for="Enunciado" class="text-danger"></span>
                    </div>
                    <div class="form-group d-grid mt-3 gap-2">
                        <label asp-for="NomeMateria" class="control-label fs-5">Matéria:</label>
                        <select asp-for="NomeMateria" asp-items="Model.MateriasDisponiveis" class="form-control">
                            <option value="">-- Selecione uma matéria --</option>
                        </select>
                        <span asp-validation-for="NomeMateria" class="text-danger"></span>
                    </div>

                    <h4 class="my-3">Alternativas</h4>

                    <form class="d-flex flex-wrap gap-2 align-items-center" action="/questoes/adicionar-alternativa" method="post">
                        <div class="col">
                            <label class="control-label">Resposta da Alternativa: </label>
                            <input name="Resposta" class="form-control w-100" />
                        </div>

                        <button type="submit" class="btn btn-outline-primary align-self-end col-lg-2">
                            Adicionar
                        </button>
                    </form>

                    <span asp-validation-for="Alternativas" class="text-danger"></span>

                    <div class="form-group d-flex align-items-center justify-content-end mt-5 gap-3">
                        <a href="/questoes">Voltar para a listagem</a>
                        <button type="submit" class="btn btn-primary rounded-3 px-5">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}